/* line 20, ../sass/style.scss */
* {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  /* line 26, ../sass/style.scss */
  .container {
    position: relative;
  }
  /* line 28, ../sass/style.scss */
  .container .header {
    position: fixed;
    top: 0;
    right: "";
    bottom: "";
    left: "";
    display: "";
    width: 100vw;
    height: 40px;
    background-color: black;
    text-align: center;
    z-index: 1;
  }
  /* line 35, ../sass/style.scss */
  .container .topnav {
    position: relative;
  }
  /* line 37, ../sass/style.scss */
  .container .topnav .logo {
    position: absolute;
    top: -13px;
    right: "";
    bottom: "";
    left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 40px;
    color: white;
    z-index: 2;
  }
  /* line 45, ../sass/style.scss */
  .container .topnav .logo:hover {
    color: aqua;
  }
  /* line 48, ../sass/style.scss */
  .container .topnav ul {
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  /* line 52, ../sass/style.scss */
  .container .topnav ul li {
    margin: 10px;
    color: white;
    font-size: 18px;
    display: inline;
  }
  /* line 58, ../sass/style.scss */
  .container .topnav ul li:hover {
    text-shadow: 1px 3px 3px #fae9e9;
  }
}
@media screen and (min-width: 360px) and (max-width: 440px) {
  /* line 81, ../sass/style.scss */
  .container .topnav ul {
    margin: 10px 0;
    width: 100vw;
    text-align: right;
  }
  /* line 85, ../sass/style.scss */
  .container .topnav ul li {
    margin: 4px;
  }

  /* line 92, ../sass/style.scss */
  .p2 .contentbox {
    position: relative;
    top: 10vh;
    right: "";
    bottom: "";
    left: "";
  }
  /* line 94, ../sass/style.scss */
  .p2 .contentbox .content {
    position: relative;
    top: 0px;
    right: "";
    bottom: "";
    left: "";
    display: block;
    width: 70%;
    height: "";
  }
  /* line 98, ../sass/style.scss */
  .p2 .contentbox .contenttitle {
    position: relative;
    top: 15px;
    right: "";
    bottom: "";
    left: "";
  }
  /* line 101, ../sass/style.scss */
  .p2 .contentbox .contenttext {
    position: relative;
    top: 20px;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 107, ../sass/style.scss */
  .p3 .project {
    display: inline-block;
    width: 85vw;
    height: "";
  }
  /* line 109, ../sass/style.scss */
  .p3 .project img {
    max-width: 85vw;
    max-height: 85vw;
  }

  /* line 116, ../sass/style.scss */
  .p4 .box {
    position: relative;
    top: 100px;
    right: "";
    bottom: "";
    left: "";
  }
  /* line 118, ../sass/style.scss */
  .p4 .box .icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0  auto;
    margin-bottom: 10vh;
  }
  /* line 124, ../sass/style.scss */
  .p4 .QRcode {
    position: absolute;
    top: calc(10vh + 20px);
    right: "";
    bottom: "";
    left: calc(50vw - 112px);
  }
}
/* line 131, ../sass/style.scss */
.container {
  position: relative;
}
/* line 133, ../sass/style.scss */
.container .header {
  position: fixed;
  top: 0;
  right: "";
  bottom: "";
  left: "";
  background-color: black;
  text-align: center;
  z-index: 1;
}
/* line 139, ../sass/style.scss */
.container .topnav {
  position: relative;
}
/* line 141, ../sass/style.scss */
.container .topnav .logo {
  position: absolute;
  top: -13px;
  right: "";
  bottom: "";
  left: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 40px;
  color: white;
  z-index: 2;
}
/* line 149, ../sass/style.scss */
.container .topnav .logo:hover {
  color: aqua;
}
/* line 152, ../sass/style.scss */
.container .topnav ul {
  position: relative;
  cursor: pointer;
}
/* line 156, ../sass/style.scss */
.container .topnav ul li {
  color: white;
  font-size: 18px;
  display: inline;
}
/* line 162, ../sass/style.scss */
.container .topnav ul li:hover {
  text-shadow: 1px 3px 3px #fae9e9;
  color: aqua;
}
/* line 168, ../sass/style.scss */
.container .rightnav {
  position: fixed;
  top: 50%;
  right: 0px;
  bottom: "";
  left: "";
  z-index: 1;
}
/* line 171, ../sass/style.scss */
.container .rightnav li {
  display: "";
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  list-style-type: none;
  margin: 10px;
}
/* line 179, ../sass/style.scss */
.container .p1 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 32, 32, 0.89);
  position: relative;
  text-align: center;
  background: #151515;
}
/* line 181, ../sass/style.scss */
.container .p1 .welcome {
  position: relative;
  top: 20%;
  right: "";
  bottom: "";
  left: "";
  color: aqua;
  font-size: 7rem;
  font-style: italic;
}
/* line 186, ../sass/style.scss */
.container .p1 .welcome .slide-top {
  position: absolute;
  top: 50px;
  right: "";
  bottom: "";
  left: calc(50vw - 109px);
  width: 218px;
  overflow: hidden;
}
/* line 190, ../sass/style.scss */
.container .p1 .welcome .slide-top span {
  position: relative;
  top: "";
  right: "";
  bottom: "";
  left: 0px;
  margin-right: 50px;
  width: 218px;
}
/* line 196, ../sass/style.scss */
.container .p1 .welcome .slide-left {
  position: absolute;
  top: 200px;
  right: "";
  bottom: "";
  left: calc(50vw - 180px);
  width: 142.2px;
  overflow: hidden;
}
/* line 200, ../sass/style.scss */
.container .p1 .welcome .slide-left span {
  position: relative;
  margin-right: 20px;
  width: 142.2px;
  left: 0px;
}
/* line 207, ../sass/style.scss */
.container .p1 .welcome .slide-right {
  position: absolute;
  top: 200px;
  right: "";
  bottom: "";
  left: calc(50vw - 30px);
  width: 211.5px;
  overflow: hidden;
}
/* line 211, ../sass/style.scss */
.container .p1 .welcome .slide-right span {
  position: relative;
  margin-right: 20px;
  width: 211.5px;
  left: 0px;
}
/* line 219, ../sass/style.scss */
.container .p1 .next {
  position: absolute;
  top: "";
  right: "";
  bottom: "";
  left: 50%;
  display: "";
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 80%;
  background-color: rgba(0, 0, 0, 0.75);
  transform: translateX(-50%);
  -webkit-animation: myAnimation 0.8s linear 0s infinite alternate;
}
/* line 226, ../sass/style.scss */
.container .p1 .next .n1 {
  display: "";
  width: 16px;
  height: 2px;
  border: 1px solid rgba(0, 255, 255, 0);
  border-radius: 20px;
  position: absolute;
  background-color: aqua;
  position: "";
  top: 22px;
  right: "";
  bottom: "";
  left: -2px;
  transform-origin: right;
  transform: rotate(45deg);
}
/* line 232, ../sass/style.scss */
.container .p1 .next .n2 {
  display: "";
  width: 16px;
  height: 2px;
  border: 1px solid rgba(0, 255, 255, 0);
  border-radius: 20px;
  position: absolute;
  background-color: aqua;
  position: "";
  top: 9px;
  right: "";
  bottom: "";
  left: 26px;
  transform-origin: left;
  transform: rotate(135deg);
}
@-webkit-keyframes myAnimation {
  0% {
    bottom: 85px;
  }
  50% {
    bottom: 75px;
  }
  100% {
    bottom: 85px;
  }
}
/* line 246, ../sass/style.scss */
.container .p2 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 32, 32, 0.89);
  position: relative;
  text-align: center;
  background: #151515;
  text-align: center;
  color: white;
}
/* line 251, ../sass/style.scss */
.container .p2 .contentbox .content {
  border: 2px solid aqua;
  border-radius: 10px;
  margin: 0px auto;
}
/* line 256, ../sass/style.scss */
.container .p2 .contentbox .content p {
  text-align: left;
  line-height: 24px;
  letter-spacing: 3px;
  padding: 10px;
}
/* line 263, ../sass/style.scss */
.container .p2 .contentbox .contenttitle {
  margin: 0px auto;
  text-align: center;
}
/* line 267, ../sass/style.scss */
.container .p2 .contentbox .contenttitle .title {
  margin: 0 1px;
  padding-top: 4px;
  border: 2px solid aqua;
  border-radius: 10px;
  display: inline-block;
  width: 29.5%;
  height: 25px;
}
/* line 275, ../sass/style.scss */
.container .p2 .contentbox .contenttext {
  margin: 0px auto;
  text-align: center;
}
/* line 279, ../sass/style.scss */
.container .p2 .contentbox .contenttext .box {
  margin: 0 1px;
  vertical-align: top;
  border: 2px solid aqua;
  border-radius: 10px;
  display: inline-block;
  width: 29.5%;
  height: 80px;
}
/* line 284, ../sass/style.scss */
.container .p2 .contentbox .contenttext .box ul {
  margin: 0px auto;
  width: 50%;
  padding: 5px 0;
}
/* line 295, ../sass/style.scss */
.container .p3 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 32, 32, 0.89);
  position: relative;
  text-align: center;
  background: #151515;
}
/* line 297, ../sass/style.scss */
.container .p3 .project {
  position: relative;
  top: calc(50vh - 200px);
  right: "";
  bottom: "";
  left: "";
  border: 2px solid aqua;
  border-radius: 20px;
}
/* line 301, ../sass/style.scss */
.container .p3 .project img {
  border-radius: 20px;
}
/* line 306, ../sass/style.scss */
.container .p3 .project span {
  color: white;
}
/* line 311, ../sass/style.scss */
.container .p4 {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 32, 32, 0.89);
  position: relative;
  text-align: center;
  background: #151515;
}
/* line 319, ../sass/style.scss */
.container .p4 .box .icon img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px;
  transition: all 0.6s;
}
/* line 325, ../sass/style.scss */
.container .p4 .box .icon img:hover {
  transform: scale(1.4);
}
/* line 330, ../sass/style.scss */
.container .p4 .QRcode {
  display: inline-block;
  width: 225px;
  height: 225px;
  display: none;
  margin: 0 auto;
}
/* line 335, ../sass/style.scss */
.container .p4 .QRcode img {
  border-radius: 20px;
  transition: all 0.6s;
}
